.client{

}
.client-logo{
  float: left;
  width: 256px;
  height: 162px;
  border: 2px solid #808080;
  margin: 0 24px;
  text-align: center;
  line-height: 162px;
  &:first-child{
    margin: 0 24px 0 0;
  }
  &:last-child{
    margin: 0 0 0 24px;
  }
}