.service{

}

.service-item{
  margin: 0 30px 0 0;
  float: left;
  width: 370px;
  text-align: center;
  &:last-child{
    margin: 0;
  }
}

.service-icon{
  width: 105px;
  height: 105px;
  margin: 0 auto 24px auto;
  /*float: left;*/
  text-align: center;
  line-height: 105px;
  border: 2px solid #f39c12;
  border-radius: 105px;
  &-2{
    background-color: $color;
 }
}
.service-title{
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: -2px;
}
.service-text{
  font-size: 16px;
  line-height: 28px;
}